*~
*.tmp

#Sandbox folder
# */Sandbox/*
# */Sandbox

#Images
*.png
*.tif
*.jpg
*.gif
*.bmp
*.psd

#Videos
*.mp4
*.mkv
*.avi
*.mov
*.mpg
*.vob

#Audio
*.mp3
*.aac
*.wav
*.flac

#Documents
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt

#Archive
*.zip
*.rar
*.7z
*.tar
*.iso
*.gz

#Database
*.mdb
*.accde
*.frm
*.sqlite

#Executable
*.exe
*.dll
*.so
*.class

#Custom
__pycache__
*.pyc
*.pyo
*.aux
*.log
.idea
*.tex.bak
